<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div id="app" class="container">
    <validator name="validation1">
        <form novalidate>
            <div class="username-field input-group">
                <label for="username">必填项:</label>
                <input id="username" type="text" v-validate:username="['required']" class="form-control">
                <p class="text-danger" v-if="$validation1.username.required">Required your name.</p>
            </div>
            <div class="comment-field input-group">
                <label for="comment">长度约束:</label>
                <input id="comment" type="text" v-validate:comment="{required: true ,minlength: 3,maxlength: 10 }" class="form-control">
                <p class="text-danger" v-if="$validation1.comment.maxlength">Your comment is too long.</p>
                <p class="text-info" v-if="$validation1.comment.minlength">长度不能小于三个字符</p>
            </div>

            <div>
                <label for="object1">rule字面量对象约束:</label>
                <input id="object1" type="text" v-validate:object1="rules">
                <p class="text-danger" v-if="$validation1.object1.maxlength">Your comment is too long.</p>
                <p class="text-danger" v-if="$validation1.object1.minlength">长度不能小于三个字符</p>
            </div>

            <button class="btn btn-primary" type="submit" value="send" @click="isPass($validation1.valid,$event)">提交</button>
        </form>
    </validator>


</div>
<script src="//cdn.bootcss.com/vue/1.0.24/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="http://cdn.bootcss.com/vue-validator/2.1.3/vue-validator.js"></script>

<script type="text/javascript">

    new Vue({
        el: '#app',
        data: {
            rules: {
                required: true,
                minlength: 3,
                maxlength: 10
            }
        },
        methods: {
            isPass: function (bool,event) {
                if(!bool) {
                    event.preventDefault();
                }
            }
        }

    });

</script>


</body>
</html>